.seasonStatsContainer {
  width: 400px; }
  .seasonStatsContainer .absolute {
    position: absolute;
    top: 30%;
    right: 5%; }
  .seasonStatsContainer .fixed {
    position: fixed;
    top: 0%;
    right: 5%; }

.seasonStatsGrid {
  display: grid;
  border-color: gray;
  grid-template-areas: "upper-left upper-right" "bottom-left bottom-right";
  grid-gap: 1px;
  background-color: white;
  z-index: 0; }
  .seasonStatsGrid div {
    background-color: white;
    padding: 10px; }

.seasonPoints {
  grid-area: upper-left;
  border-right: 1px solid black; }

.seasonRebounds {
  grid-area: upper-right; }

.seasonSssists {
  grid-area: bottom-left;
  border-right: 1px solid black; }

.seasonOppPts {
  grid-area: bottom-right; }
