ul {
    display: block;
    padding: 0px;
}

.yearContainer:first-child {
    margin-top: 0px;
}

.yearContainer:last-child {
    margin-bottom: 0px;
}

.iClosed {
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(8, 8, 8, 0.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}

.iOpened {
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-bottom:4px solid rgba(8, 8, 8, 0.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
}

/* i:after{
    content:"";
    position:absolute;
    background-color: blue;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(255,255,255,.5);
    border-bottom:0 solid rgba(255,255,255,.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
    } */

/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

.yearContainer {
    width: 180px;
    position: absolute;
    display: block;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
}
/* 
#menu #list {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: #d5d5d5;
} */

.yearContainerClick {
    width: 180px;
    position: absolute;
    display: block;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
    max-height: 200px;
    transition: max-height 0.25s ease-in;
}

.year {
    display: block;
    list-style: none;
    /* margin: 5px 0px; */
    padding: 5px;
}

.year:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.header {
    border: 1px solid black;
    padding: 15px;
    width: 150px;
    position: relative;
}

.header:hover {
    cursor: pointer;
}