.playerTab {
    border: 1px solid black;
    padding: 15px;
}

.playerTab:hover {
    background-color: rgb(185, 246, 246);
    cursor: pointer;
}

.testClose {
    max-height: 0;
    transition: max-height 0.15s ease-out;
}

.testOpen {
    max-height: 4000px;
    transition: max-height 0.25s ease-in;
}

/* 
.yearContainer {
    width: 180px;
    position: absolute;
    display: block;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
} */
/* 
#menu #list {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: #d5d5d5;
} */

/* .yearContainerClick {
    width: 180px;
    position: absolute;
    display: block;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
    max-height: 200px;
    transition: max-height 0.25s ease-in;
} */