.statsContainer {
    margin: 0 auto;
    max-height: 0px;
    transition: max-height 1s ease-out;
}

.openStatsContainer {
    margin: 0 auto;
    max-height: 4000px;
    transition: max-height 1s ease-in;
}

.test {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
}

.statsCol {
    padding: 10px;
    border: 5px solid rgb(214,129,137);
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
  }

.statsCol > p {
    text-align: center;
}

/* .yearContainer {
    width: 180px;
    position: absolute;
    display: block;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
} */
/* 
#menu #list {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    background: #d5d5d5;
} */

/* .yearContainerClick {
    width: 180px;
    position: absolute;
    display: block;
    overflow: auto;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    margin-top: 0px;
    max-height: 200px;
    transition: max-height 0.25s ease-in;
} */